$font-family-roboto: 'Montserrat', sans-serif;

$font-size-16: 16px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

%roboto-light-16 {
  font-family: $font-family-roboto;
  font-size: $font-size-16;
  font-weight: $font-weight-light;
  line-height: 19,5px;
}
